<nav class="navbar navbar-expand-lg navbar-white myNav">
  <div class="contai">
      <a class="navbar" >
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXIJwZ75I5N9Z6NqGJaY0de0dgyvjQtziV5A&usqp=CAU" alt="" >
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" *ngIf="loggeduserdata?.role == 'fulls'" >
              <a class="nav-link active"   routerLink="new-Event" routerLink="new-Event">Create Event</a>
          </li>
          <li class="nav-item" *ngIf="loggeduserdata?.role == 'fulls'" >
              <a class="nav-link active"   routerLink="new-Event"routerLink="Event-List"> Event</a>
          </li>
          <li class="nav-item" *ngIf="loggeduserdata?.role == 'fulls'" >
              <a class="nav-link active"   routerLink="new-Event" routerLink="event-bookings"> Bookings </a>
          </li>
          <li class="nav-item" *ngIf="loggeduserdata?.role == 'Customer'" >
              <a class="nav-link active"   routerLink="new-Event"routerLink="my-bookings"> My Bookings</a>
          </li>
             </ul>
          <form class="d"  *ngIf="!loggeduserdata">
              <button class="btn btn-outline-primary round-button mx-2" type="button"
              (click)="login()">Login</button>
              <button class="btn btn-success round-button" type="button" (click)="onRegiste()">Register</button>
          </form>
          <form class="d"  *ngIf="loggeduserdata">
            <strong>  {{loggeduserdata.contactNo |uppercase}}            </strong>
              <button class="btn btn-success round-button" type="button" (click)="logout()">LogOff</button>
          </form>
      </div>
  </div>
</nav>
<div class="container pt-2">
  <router-outlet></router-outlet>
</div>




<div class="modal" id="login">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
          <h3>Login</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closelogin()"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
          <form >
              <label for="username">Contact No</label>
              <input type="text" class="form-control" [(ngModel)]="loginuser.ContactNo"  name="ContactNo" required>

              <label for="password">Password</label>
              <input type="password" class="form-control"  [(ngModel)]="loginuser.Password"  name="Password" required>

          </form>      
          </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="loginperson()">Login</button>
      </div>

    </div>
  </div>
</div>



<div class="modal" id="register">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Sign Up</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeregister()"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form >
          
          <label >Name</label>
          <input type="text" class="form-control" [(ngModel)]="CreateUser.Name"  name="name" required>
          <label >Email</label>
          <input type="email" class="form-control"  [(ngModel)]="CreateUser.Email"  name="email" required>

          <label >Password</label>
          <input type="password" class="form-control"  [(ngModel)]="CreateUser.Password"  name="password" required>
          <label >Contact </label>
          <input type="tezt" class="form-control"  [(ngModel)]="CreateUser.ContactNo"  name="contactNo" required>
          <label for="password">What Are You</label>
                        <select [(ngModel)]="CreateUser.Role" name="Role">
                            <option value="" class="form-control">Select Your Role</option>
                            <option value="fulls">Event Planner</option>
                            <option value="Customer">Customer</option>
                        </select>
      </form> 
      </div> 
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="createperson()">signup</button>
      </div>

    </div>
  </div>
</div>
